@using System.Web.Optimization
@{
    Layout = null;
}
<html>
<head>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    @Styles.Render("~/Content/sitecss")
    <title>Cocktails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Friends coming over for cocktails? Find tasty cocktail recipes and check what ingredients you need." />
    <meta property="og:image" content="http://www.cocktailsworld.eu/Content/Images/cocktail_og_image.jpg"/>
    <meta property="og:image:width" content="1920"/>
    <meta property="og:image:height" content="1280" />
    <meta property="og:title" content="Cocktails World"/>
    <meta property="og:description" content="Friends coming over for cocktails? Find tasty cocktail recipes and check what ingredients you need."/>
    <meta property="og:url" content="http://www.cocktailsworld.eu" />
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")">
    <title>Cocktails World</title>
</head>
<body>
<div id="content"></div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="~/Content/Scripts/ThirdParty/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
@Scripts.Render("~/dist/bundle")
</body>
</html>