/* Set some basic padding to keep content from hitting the edges */
#content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
}

body {
    background-image: url(/images/sea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.cocktailButton img {
    border: 1px solid white;
    border-radius: 8px;
}

.cocktailButton h6 {
    letter-spacing: 3px;
    font-weight: 300;
    color: white;
}

.navbar-light.bg-faded {
    background-color: rgba(255, 255, 255, 0.4);
}

.navbar-brand {
    font-size: 1.5rem;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}