/* Set some basic padding to keep content from hitting the edges */
#content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}