/* Fixes page content jumping to left when a Bootstrap modal is opened */
body {
    padding-right: 0 !important;
    overflow-y: auto !important;
}

.cocktailButton img {
    border-right: 1px solid white;
    border-radius: 8px;
}

.cocktailButton .badge {
    position: absolute;
    bottom: -1px;
    left: -1px;
    z-index: 50;
    background-color: red;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

#root div.cocktailButton {
    padding-right: 5px;
    margin-top: 5px;
    min-width: 160px;
    text-align: center;
}

.cocktailGrid {
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
}

.cocktailButton h6 {
    letter-spacing: 3px;
    font-weight: 300;
    color: black;
}

.cocktailButton .plusIcon {
    padding-top: 5px;
    cursor: pointer;
}

.cocktailButton .openDetails {
    cursor: pointer;
    height: 170px;
    min-width: 153px;
}

.cocktailButton .buttonStyle {
    color: white;
    border: 1px solid grey;
    border-radius: 8px;
    width: 100%;
    font-size: 0.90rem;
    display: flex;
    min-height: 208px;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.cocktailButton .cocktailName {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    border-radius: 8px 8px 0 0;
}

.cocktailButton .actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 0 0 8px 8px;
    font-size: 2em;
}

.left {
    float: left;
}

.cocktailDetails .unitSelector > div:first-child {
    display: inline;
    margin-right: 20px;
    line-height: 0.9;
}

/* Prevents the heading of cocktail detais (recipe) from wrapping to multiple rows on small mobile screens */
@media (max-width: 400px) {
    .cocktailDetails .modal-title {
        font-size: 1.1rem;
    }

    .cocktailDetails .form-check-inline + .form-check-inline {
        margin-left: 0.3rem;
    }

    .cocktailDetails .unitSelector > div:first-child {
        margin-right: 10px;
    }
}

@media (min-width: 576px) {
    .cocktailDetails .responsiveImage {
        width: auto;
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 575px) {
    .cocktailDetails .responsiveImage {
        width: auto;
        max-width: 45%;
        height: auto;
    }
}

/* No bullets for the ingredient list */
ul {
    list-style-type: none;
    padding-left: 0;
}

.navbar.bg-faded {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}

@media (max-width: 374px) {
    .navbar-brand {
        font-size: 1rem;
    }
}

a.navbar-brand:hover, a.navbar-brand:visited {
    color: white;
}

.capitalize {
    text-transform: capitalize;
}

.hidden {
    display: none;
}

/* Styling for the licensing info and the link back to the Wikipedia article. */
.wikipediaLicense {
    margin-top: 10px;
    font-size: smaller;
    font-style: italic;
}

/* Styles for Andre Madarang's nice shopping cart, https://codepen.io/drehimself/pen/VvYLmV */
.shopping-cart {
    margin: 20px 0;
    background: white;
    width: 320px;
    position: fixed;
    top: 55px;
    right: 10px;
    border-radius: 3px;
    padding: 20px 10px 10px 20px;
    z-index: 99;
}

    .shopping-cart .shopping-cart-header {
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 15px;
    }

        .shopping-cart .shopping-cart-header .shopping-cart-total {
            float: right;
        }

    /* Darker borders for Bootstrap tabs; otherwise they are really hard to make out */
    .shopping-cart .nav-tabs .nav-link:not(.active) {
        color: blue;
    }

    .shopping-cart ul.nav-tabs {
        border-bottom: 1px solid #aaa;
    }

    .shopping-cart .nav-link.active {
        border-color: #aaa #aaa #fff;
    }

    .shopping-cart .nav-link:hover:not(.active) {
        border-bottom: 1px solid #aaa;
    }

    .shopping-cart:after {
        bottom: 100%;
        left: 89%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: white;
        border-width: 8px;
        margin-left: -8px;
    }

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
