body {
    background: url(/Content/Images/background.jpg);
}

.cocktailButton img {
    border-right: 1px solid white;
    border-radius: 8px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

.cocktailButton h6 {
    letter-spacing: 3px;
    font-weight: 300;
    color: black;
}

.cocktailButton .plusIconWrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 3px;
}

.cocktailButton .plusIcon {
    padding-top: 5px;
    cursor: pointer;
}

.cocktailButton .openDetails {
    cursor: pointer;
}

.cocktailButton .textArea {
    position: relative;
    width: 100%;
}

.buttonStyle {
    background-color: rgba(55, 55, 55, 0.6);
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    width: 100%;
    font-size: 0.90rem;
    display: flex;
}

.left {
    float: left;
}

@media (min-width: 576px) {
    .cocktailDetails .responsiveImage {
        width: auto;
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 575px) {
    .cocktailDetails .responsiveImage {
        width: auto;
        max-width: 45%;
        height: auto;
    }
}   

/* No bullets for the ingredient list */
ul {
    list-style-type: none;
    padding-left: 0;
}

.navbar.bg-faded {
    background-color: rgba(55, 55, 55, 0.4);
}

.cocktailButton {
    margin-top: 20px;
    padding-right: 0;
    min-width: 160px;
    text-align: center;
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);    
}

@media (max-width: 374px) {
    .navbar-brand {
        font-size: 1rem;
    }
}

a.navbar-brand:hover, a.navbar-brand:visited {
    color: white;
}

.capitalize {
    text-transform: capitalize;
}

/* Styling for the licensing info and the link back to the Wikipedia article. */
.wikipediaLicense {
    margin-top: 10px;
    font-size: smaller;
    font-style: italic;
}

/* Styles for Andre Madarang's nice shopping cart, https://codepen.io/drehimself/pen/VvYLmV */
.shopping-cart {
    margin: 20px 0;
    background: white;
    width: 320px;
    position: fixed;
    top: 55px;
    right: 10px;
    border-radius: 3px;
    padding: 20px;
    z-index: 99;
}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}
    
.shopping-cart .shopping-cart-header .shopping-cart-total {
      float: right;
}

.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}

.shopping-cart .shopping-cart-items li {
      margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
      float: left;
      margin-right: 12px;
}
    
.shopping-cart .shopping-cart-items .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
}
    
 .shopping-cart .shopping-cart-items .item-price {
      color: #6394F8;
      margin-right: 8px;
}
    
 .shopping-cart .shopping-cart-items .item-quantity {
      color: #ABB0BE;    
}

.shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}